<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>carrinho</ion-title>
    <ion-buttons slot="start">
      <ion-back-button>Button</ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item *ngFor="let produto of listaItens" lines="full"  class="borda">
    <ion-thumbnail slot="start">

    </ion-thumbnail>
    <ion-label>
      <h2>{{ produto['nome'] }}
        {{ produto['descricao'] }}
        {{ produto['foto'] }}
        {{ produto['valor'] }}
      </h2>

    </ion-label>
    <ion-button expand="block" slot="end" color="primary" (click)="totalCarrinho()">
      <ion-icon slot="icon-only" name="cart-outline"></ion-icon>
    </ion-button>
  </ion-item>
</ion-content>
