<ion-header>
  <ion-toolbar color="dark">
    <ion-title color="werning" class="ion-text-center">
      Categorias
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
 <ion-grid>

  <ion-row>
    <ion-col>
      <ion-card class="banner" color="whitezin" routerLink="/promocoes">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRBogrGwmbl1jp2XAzlCOXf5ABVg6OWZ1VfOQ&usqp=CAU">
      </ion-card>
    </ion-col>
  </ion-row>

  <ion-item lines="none" color="dark" style="border-radius: 5px;">
  </ion-item>

  <ion-row>
    <ion-col>
      <ion-card color="dark" class="borda" routerLink="/carnes">
        <img
        src=""
        alt="">
        <ion-item lines="full" color="dark" class="borda">
          Carnes
        </ion-item>
      </ion-card>
    </ion-col>

    <ion-col>
      <ion-card color="dark" class="borda" routerLink="/vinhos">
        <img
        src=""
        alt="">
        <ion-item lines="full" color="dark" class="borda">
          Vinhos
        </ion-item>
      </ion-card>
    </ion-col>

  </ion-row>

  <ion-row>

    <ion-col>
      <ion-card color="dark" class="borda" routerLink="/cafezes">
        <img
        src=""
        alt="">
        <ion-item lines="full" color="dark" class="borda">
          Cafés
        </ion-item>
      </ion-card>
    </ion-col>

    <ion-col>
      <ion-card color="dark" class="borda" routerLink="/beterrabas">
        <img
        src=""
        alt="">
        <ion-item lines="full" color="dark" class="borda">
          Legumes
        </ion-item>
      </ion-card>
    </ion-col>


  </ion-row>
 </ion-grid>
</ion-content>
